<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 책 정보 관리를 위한 SQL -->
<mapper namespace="cj.project.seogaandbook.mapper.BookMapper">
	
	<!-- 책 정보 저장 -->
	<insert id="enter" parameterType="Book">
		INSERT INTO sab_books
			(isbn13, title, introduction, categoryNum, publisherNum, authorNum)
		VALUES
			(#{isbn13}, #{title}, #{introduction}, 
			#{categoryNum}, #{publisherNum}, #{authorNum})
	</insert>
	
	<!-- 모든 책 정보 가져오기 -->
	<select id="getAllBooks" resultType="Book">
		SELECT
			*
		FROM
			sab_books
	</select>
	
	<!-- 책 정보 4개만 받아온다 -->
	<select id="getRecentlyAdded" resultType="Book">
		SELECT
			*
		FROM
			sab_books
	</select>
	
	<!-- 책 ISBN13으로 정보 가져오기 -->
	<select id="getBookByIsbn13" parameterType="long" resultType="Book">
		SELECT
			*
		FROM
			sab_books
		WHERE
			isbn13 = #{value}
	</select>
	
	<!-- 카테고리별로 책 가져오기 -->
	<select id="searchList" parameterType="HashMap" resultType="Book">
		SELECT
			*
		FROM
			(SELECT
				categoryNum
			FROM
				sab_categories
			<if test="_parameter.get('cateNum') != null">
				<choose>
					<when test="_parameter.get('cateNum') == ''">
						START WITH
							parentNum IS NULL
					</when>
					<when test="_parameter.get('cateNum') != ''">
						START WITH
							categoryNum = #{cateNum}
					</when>
				</choose>
			</if>
			CONNECT BY PRIOR
				categoryNum = parentNum
			) c,
			sab_books b
		WHERE
			c.categoryNum = b.categoryNum
	</select>
</mapper>



























