<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<!-- 마이바티스는 설정을 읽어서 등록을 미리 해놓는다 -->
<!-- 안의 내용을 객체로 구현해 놓고 싶은데 어떤애를 구현해야 할지 명시하는게 namespace -->
<!-- 즉 customermapper의 인터페이스를 구현하는 것은 여기 -->
<mapper namespace="">

	
</mapper>



























