<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="cj.project.seogaandbook.vo.Answer" alias="Answer" />
		<typeAlias type="cj.project.seogaandbook.vo.Author" alias="Author" />
		<typeAlias type="cj.project.seogaandbook.vo.Book" alias="Book" />
		<typeAlias type="cj.project.seogaandbook.vo.Category" alias="Category" />
		<typeAlias type="cj.project.seogaandbook.vo.Comment" alias="Comment" />
		<typeAlias type="cj.project.seogaandbook.vo.Member" alias="Member" />
		<typeAlias type="cj.project.seogaandbook.vo.Publisher" alias="Publisher" />
		<typeAlias type="cj.project.seogaandbook.vo.Question" alias="Question" />
		<typeAlias type="cj.project.seogaandbook.vo.ReadingHistory" alias="ReadingHistory" />
		<typeAlias type="cj.project.seogaandbook.vo.Reply" alias="Reply" />
		<typeAlias type="cj.project.seogaandbook.vo.Review" alias="Review" />
		
	</typeAliases>
	<mappers>
		<mapper resource="memberMapper.xml" />
		
	</mappers>
</configuration>
